<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('public.index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            {{ app_name }}
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
            <div class="navbar-item">
                Hola, {{ current_user.first_name or current_user.username }}!
            </div>
            
            <!-- Botón de cambio de tema -->
            <div class="navbar-item">
                <button id="theme-toggle" class="button is-light">
                    <!-- El ícono será manejado por el script -->
                </button>
            </div>

            <!-- Mostrar botón del panel admin solo si es admin -->
            {% if is_admin(current_user) %}
            <a class="navbar-item" href="{{ url_for('admin.admin_dashboard') }}">
                <div class="button is-link">
                    Panel de Administración
                </div>
            </a>
            {% endif %}

            <a class="navbar-item" href="{{ url_for('photos.profile_security') }}">
                <div class="button is-primary">
                    Configuración
                </div>
            </a>

            <a class="navbar-item" href="{{ url_for('auth.logout') }}">
                <div class="button is-warning">
                    Cerrar Sesión
                </div>
            </a>
            {% else %}
            <a class="button is-primary" href="{{ url_for('auth.login') }}">
                Log in
            </a>
            {% endif %}
        </div>
    </div>
</nav>