<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('public.index') }}">
            <img src="{{ url_for('static', filename='images/logo-x24.png') }}" alt="Logo">
            SamanPhotos
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                Hola, {{ current_user.first_name or current_user.username }}!
            </div>
            <a class="navbar-item" href="{{ url_for('edits.edit_profile') }}">
                <div class="button is-primary">
                    Preferencias de Perfil
                </div>
            </a>
            <a class="navbar-item" href="{{ url_for('auth.logout') }}">
                <div class="button is-warning">
                    Cerrar Sesión
                </div>
            </a>
        </div>
    </div>
</nav>