<!DOCTYPE html>
<html lang="es" data-theme="{{ current_user.theme_preference }}" class="theme-{{ current_user.theme_preference }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/samancustom.css') }}">
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const themeSelector = document.getElementById('theme-selector');
            if (themeSelector) {
                themeSelector.addEventListener('change', function () {
                    const selectedTheme = this.value;
                    document.documentElement.setAttribute('data-theme', selectedTheme);
                    document.documentElement.className = 'theme-' + selectedTheme;
                });
            }
        });
    </script>
</head>
<body>
    <!-- Navbar section -->
    {% include 'partials/_navbar.html' %}

    <!-- Flash messages section -->
    {% include 'partials/_flash_messages.html' %}

    <!-- Middle Section -->
    <div class="columns">
        <!-- Sidebar Section -->
        {% include 'partials/_sidebar.html' %}

        <!-- Content Section -->
        <div class="column is-three-quarters">
            {% block content %}  
            {% endblock %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Footer Section -->
    {% include 'partials/_footer.html' %}
</body>
</html>
