{% extends "base.html" %}

{% block title %}Person Photos{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Photos of Person {{ person_id }}</h1>
        <div class="columns is-multiline">
            {% for photo in photos %}
            <div class="column is-one-quarter">
                <div class="card">
                    <a href="{{ url_for('photos.view_photo', photo_id=photo.id) }}">
                        <figure class="image is-4by3">
                            <img src="{{url_for('photos.uploaded_file', filename=photo.filename) }}" alt="Photo of Person {{ person_id }}" style="object-fit: cover; width: 100%; height: 100%;">
                        </figure>
                    </a>
                    <div class="card-content">
                        <div class="content">
                            {{ photo.original_filename }}
                            <br />
                            <p>
                                |
                                <a href="{{ url_for('edits.delete_photo', photo_id=photo.id) }}">Eliminar</a>
                                |
                                <time datetime="{{ photo.date_taken }}">{{ photo.date_taken }}</time>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
