{% extends 'base_public.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <!-- Columna del formulario -->
      <div class="column is-half">
        <div class="box">

          <h2 class="title is-2">Restablecer contraseña</h2>
          
          <form method="POST">
            {{ form.hidden_tag() }}
          
            <div class="field">
              {{ form.password.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.password(class="input", placeholder="Ingrese su nueva contraseña") }}
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
          
            <div class="field">
              {{ form.confirm_password.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.confirm_password(class="input", placeholder="Reescriba su nueva contraseña") }}
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
          
            <div class="field">
              <div class="control">
                {{ form.submit(class="button is-primary is-fullwidth") }}
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
