{% extends 'mail/base.html' %}

{% block title %}Email Changed Successfully{% endblock %}

{% block header %}Your Email Address Has Been Updated{% endblock %}

{% block content %}
<p>Hello {{ username }},</p>
<p>This is a confirmation that your email address has been successfully updated.</p>
<p>If you did not request this change, please contact our support team immediately.</p>
<p>If everything is correct, no further action is required.</p>
<p>The {{ app_name }} Security Team</p>
{% endblock %}
