{% extends "base.html" %}

{% block title %}Editar Álbum{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Editar Álbum: {{ album.name }}</h1>
        <form action="{{ url_for('main.edit_album', album_id=album.id) }}" method="POST">
            <div class="field">
                <label class="label">Nuevo Nombre del Álbum</label>
                <div class="control">
                    <input class="input" type="text" name="album_name" value="{{ album.name }}" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link" type="submit">Guardar Cambios</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
