{% extends "base_public.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title">
            Iniciar sesión
        </h1>
        <p class="subtitle is-4">Bienvenido</p>
    </div>
</div>
<section class="section is-fullheight">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <form action="{{ url_for('auth.login') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">Correo Electrónico</label>
                        <div class="control">
                            {{ form.email(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control">
                            {{ form.password(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class="button is-primary is-fullwidth") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <a href="{{ url_for('auth.resset_password') }}">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </form>
                <br>
                <p>
                    ¿No tienes cuenta?
                </p>
                <br>
                <a href="{{ url_for('auth.register') }}">
                    <button class="button is-info is-fullwidth">Registrarse</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
