{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">People</h1>
        <form action="{{ url_for('photos.scan_faces') }}" method="post">
            <button type="submit" class="button is-link">Encontrar personas</button>
        </form>
        <br>
        <div class="columns is-multiline">
            {% for name, items in people.items() %}
            <div class="column is-one-quarter">
                <div class="image-grid">
                    {% for photo, face in items %}    
                            <figure class="image is-128x128 is-rounded" style="background-image: url('{{ url_for('photos.uploaded_file', filename=photo.filename) }}'); background-position: {{ -face.left }}px {{ -face.top }}px; background-size: fit;">
                            </figure>
                        <h2 class="subtitle">{{ name }}</h2>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
