{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Mi Perfil</h1>
        <div class="tabs is-medium is-centered is-boxed">
            <ul>
                <li class="is-active" id="tab-upload"><a>Subir Fotos</a></li>
                <li id="tab-album"><a>Crear Álbum</a></li>
            </ul>
        </div>

        <div id="upload-section">
            <div class="columns">
                <div class="column is-half">
                    <h2 class="subtitle">Subir Fotos</h2>
                    <form action="{{ url_for('main.profile') }}" method="POST" enctype="multipart/form-data">
                        {{ upload_form.hidden_tag() }}
                        <div class="field">
                            <label class="label">Seleccionar Fotos</label>
                            <div class="control">
                                {{ upload_form.photos(class="input is-primary") }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ upload_form.submit(class="button is-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="album-section" style="display: none;">
            <div class="columns">
                <div class="column is-half">
                    <h2 class="subtitle">Crear Álbum</h2>
                    <form action="{{ url_for('main.profile') }}" method="POST" enctype="multipart/form-data">
                        {{ album_form.hidden_tag() }}
                        <div class="field">
                            <label class="label">Nombre del Álbum</label>
                            <div class="control">
                                {{ album_form.albumname(class="input is-primary") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Seleccionar Fotos</label>
                            <div class="control">
                                {{ album_form.photos(class="input is-primary") }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ album_form.submit(class="button is-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
