{% extends "base_public.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<section class="section is-fullheight">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <form action="{{ url_for('main.resset_password') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">Correo Electrónico</label>
                        <div class="control">
                            {{ form.email(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class="button is-primary is-fullwidth") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
